[bumpversion]
current_version = 1.0.2
part = patch
commit = True
tag = True
message = "Bump version: {current_version} -> {new_version}"

[bumpversion:file:setup.py]

[bumpversion:file:docs/conf.py]

[bumpversion:file:fixedrec/__init__.py]